#H1{
  font-color:blue ;
  font-size: 30px;
  font-style: italic;
  font-family:monospace;
  background-color:black;
}


}

#Title2{
  font-color: blue;
  font-size: 15px;
  font-style: italic;
  font-family:;
  background-color:black;

}

#scores{
  font-color: white ;
  background-color: black;
}
